/* ============= GLOBAL BODY ============= */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("styles/aum3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #b6aeae;
}

/* ============= MAIN PAGE BOX ============= */
.page-box {
    width: 990px;
    background-color: #eaece3f9;
    margin: 30px auto 0 auto;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 2px solid black;
}

/* ============= HEADER ============= */
.header {
    height: 100px;
    background: linear-gradient(
        to right,
        #e5deda 15%,
        #ec7d4e 30%,
        #f95914 70%,
        #ec6002 85%
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 140px;
    background-color: white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    width: 85%;
}

.header h1 {
    font-size: 37px;
    font-weight: bold;
}

/* ============= NAV BAR ============= */
.navbar {
    background-color: black;
    height: 40px;
    display: flex;
    margin-left: 155px;
}

.navbar a {
    flex: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-top: 11px;
}

.navbar a.active {
    background-color: black;
    color: rgb(234, 103, 56);
    font-weight: bold;
}

.navbar a:hover {
    background-color: #8c8c8c;
    color: black;
}

/* GREY LINE BELOW NAV */
.nav-grey-line {
    width: 100%;
    height: 2px;
    background-color: #b6b6b6;
}

/* ============= CONTENT GRID ============= */
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

/* ORANGE VERTICAL DIVIDER */
.content-wrapper::before {
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    top: 40px;
    bottom: 40px;
    width: 1.5px;
    background-color: #ff6600;
}

/* ============= COLUMN WIDTHS ============= */
.left-box,
.right-box {
    padding: 20px 25px 5px 25px;  
    max-width: 420px; /* ensures alignment of lines */
}

/* ============= TOP GREY LINE ============= */
.left-box h2,
.right-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
}

/* ONE clean grey separator line at TOP of each section */
.left-box h2::before,
.right-box h2::before {
    content: "";
    position: absolute;
    
    top: -12px;        /* FINAL FIX: visible top line */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #b6b6b6;
}

/* ============= PARAGRAPHS ============= */
.left-box p,
.right-box p {
    padding-bottom: 10px;
    margin-bottom: 25px;
    line-height: 1.38;
}

/* ONLY LAST SECTION gets bottom grey line (left & right) */
.left-box p:last-of-type,
.right-box p:last-of-type {
    border-bottom: 2px solid #b6b6b6;
    padding-bottom: 12px;
    margin-bottom: 35px;
}

/* ============= FOOTER ============= */
.footer {
    margin-top: 10px;
    background-color: #ff6600;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 15px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.footer-right img {
    width: 38px;
}

/* ============= TA PAGE + GPA PAGE (unchanged) ============= */
.ta-container {
    width:520px;
    margin: 40px auto;
    padding: 25px 35px;
    background-color: #e6e6e6;
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #ff6600;
    border-right: 2px solid #ff6600;
    border-radius: 2px;
}
